.bloque {
    display: block;
}
.centrado {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
}
.botonEnviar{

    width: 202px;
    height: 44px;
    border-radius: 20px;
}
input {
    margin-bottom: 5px;
}
.botonEnviar button {
    display: block;
    color: white;
    background-color: #171C24;
    border-radius: 18px;
    padding-left: 0px;
    width: 208px;
    height: 45px;
    margin-top: 0px;
    margin-bottom: 24px;

}
.botonEnviar button:hover{
    color: black;
}