.containerFlex{
    display: flex;
    justify-content: center;
    background-color: #FF7E6B;
}
.containerFlex div {
    color: black;
}

.formZone {
    margin-left: 344px;  
}
form input {
    margin-right: 0px;
}
.boton {
    border: 3px solid black;
    background-color: red;
}
.btn {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid red;
  
}
.container {
    margin-top: 77px;
    margin-left: 102px;
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-gap: 40px;
}
.titulo1 {
    display: flex;
    justify-content: center;
}
.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400; 
}
.imagen {
    width: 340px;
    height: 140px;
}
.gridContainer{
    margin-top: 77px;
    margin-left: 300px;
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-gap: 40px;
}

.fle {
/*     margin-top: 25px;
    display: flex;
    justify-content: center;
   */
}