

.containerFlex{
    display: flex;
    justify-content: center;
    background-color: #FF7E6B;
}
.containerFlex div {
    color: black;
}



.container {
    margin-top: 77px;
    margin-left: 102px;
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-gap: 40px;
}
h1 {
    margin-top: 36px;
    padding-right: 135px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400; 
}
.imagen {
    width: 340px;
    height: 140px;
}
.gridContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 100px;
}
.fle {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  
}
